{% extends 'base.html' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info">
                Du bist eingelogt als {{ app.user.username }}, <a href="{{ path('logout') }}">Logout?</a>
            </div>
        {% endif %}

        <div class="container container-sm">
            <h1 class="my-2 text-center">Login</h1>

            <label for="inputEmail">E-Mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

            <label for="inputPassword">Passwort</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-1">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            
            <div class="flex-container space-between">
                <button class="btn btn-success" type="submit">
                    Login
                </button>
                <a href="{{ path('register') }}"><small>Noch kein Account? Registrier dich jetzt hier!</small></a>
            </div>
        </div>

    </form>
{% endblock %}
