{% extends 'base.html' %}

{% block body %}
    <section class="home-container">
        <div class="container">
            <div>
                <h1>Willommen zu deinem Adressbuch!</h1>
                <p>Melde dich jetzt an und profitiere von deinem neuen digitalen Adressbuch.</p>
                <div class="link-container">
                    <a href="{{path('register')}}" class="btn btn-danger">Registrieren</a>

                    <a href="{{path('login')}}" class="btn btn-outline-dark
                    ">Login</a>
                </div>
            </div>
                <img src="{{asset('assets/img/home.png')}}" alt="home-images">
        </div>
 
        {# <button class="btn btn-sm btn-primary">test</button>
        <button class="btn btn-sm btn-secondary">test</button>
        <button class="btn btn-sm btn-danger">test</button>
        <button class="btn btn-sm btn-warning">test</button>
        <button class="btn btn-sm btn-info">test</button>
        <button class="btn btn-sm btn-light">test</button>
        <button class="btn btn-sm btn-dark">test</button>
        <button class="btn btn-sm btn-primary">test</button>
        <button class="btn btn-sm btn-outline-secondary">test</button>
        <button class="btn btn-sm btn-outline-danger">test</button>
        <button class="btn btn-sm btn-outline-warning">test</button>
        <button class="btn btn-sm btn-outline-info">test</button>
        <button class="btn btn-sm btn-outline-light">test</button>
        <button class="btn btn-sm btn-outline-dark">test</button> #}


{% endblock %}