{% extends 'base.html' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class='alert alert-danger'>
            <h4 class='text-center'>{{ message }}</h4>
        </div>
    {% endfor %}

    <div class="container container-sm">
        <h1 class="my-2 text-center">Registrierung</h1>
        {{ form(userForm) }}
    </div>

{% endblock %}
