:root {
  --primary-color: #284a6c;
  --secondary-color: #8e8c84;
  --success-color: #93c54b;
  --danger-color: #d9534f;
  --warning-color: #f47c3c;
  --info-color: #29abe0;;
  --light-color: #f1f1f1;
  --dark-color: #333;
  --home-bg1: #6495ED; 
  --home-bg2: #F5DEB3;
  --thead-color: #bbb;
  --table-color1: #f1f1f1;
  --table-color2: #e2e2e2;

  --font-family: 'Roboto', Arial, Helvetica, sans-serif;
  --font-size: 1.1rem;
}

html {translate: all 1s ease-in;}

html.dark {
  --light-color: #333;
  --dark-color: #f1f1f1;
  --home-bg1: #4566A3; 
  --home-bg2: #C2AF8D;
  --thead-color: #333;
  --table-color1: #777;
  --table-color2: #555;
}

/* 
light
  --home-bg1: #6495ED; 
  --home-bg2: #F5DEB3;
  --thead-color: #bbb;
  --table-color1: #f1f1f1;
  --table-color2: #ddd;
dark
  --home-bg1: #4566A3; 
  --home-bg2: #C2AF8D;
  --thead-color: #333;
  --table-color1: #777;
  --table-color2: #555;
*/

.m-1 {margin: 1rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}
.m-5 {margin: 5rem;}
.m-6 {margin: 6rem;}
.m-7 {margin: 7rem;}
.m-8 {margin: 8rem;}
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}
.p-5 {padding: 5rem;}
.p-6 {padding: 6rem;}
.p-7 {padding: 7rem;}
.p-8 {padding: 8rem;}

.my-1 {margin: 1rem 0;}
.my-2 {margin: 2rem 0;}
.my-3 {margin: 3rem 0;}
.my-4 {margin: 4rem 0;}
.my-5 {margin: 5rem 0;}
.my-6 {margin: 6rem 0;}
.my-7 {margin: 7rem 0;}
.my-8 {margin: 8rem 0;}
.py-1 {padding: 1rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.py-4 {padding: 4rem 0;}
.py-5 {padding: 5rem 0;}
.py-6 {padding: 6rem 0;}
.py-7 {padding: 7rem 0;}
.py-8 {padding: 8rem 0;}

.mx-1 {margin: 0 1rem;}
.mx-2 {margin: 0 2rem;}
.mx-3 {margin: 0 3rem;}
.mx-4 {margin: 0 4rem;}
.mx-5 {margin: 0 5rem;}
.mx-6 {margin: 0 6rem;}
.mx-7 {margin: 0 7rem;}
.mx-8 {margin: 0 8rem;}
.px-1 {padding: 0 1rem;}
.px-2 {padding: 0 2rem;}
.px-3 {padding: 0 3rem;}
.px-4 {padding: 0 4rem;}
.px-5 {padding: 0 5rem;}
.px-6 {padding: 0 6rem;}
.px-7 {padding: 0 7rem;}
.px-8 {padding: 0 8rem;}

.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}
.mt-5 {margin-top: 5rem;}
.mt-6 {margin-top: 6rem;}
.mt-7 {margin-top: 7rem;}
.mt-8 {margin-top: 8rem;}
.pt-1 {padding-top: 1rem;}
.pt-2 {padding-top: 2rem;}
.pt-3 {padding-top: 3rem;}
.pt-4 {padding-top: 4rem;}
.pt-5 {padding-top: 5rem;}
.pt-6 {padding-top: 6rem;}
.pt-7 {padding-top: 7rem;}
.pt-8 {padding-top: 8rem;}

.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}
.mb-5 {margin-bottom: 5rem;}
.mb-6 {margin-bottom: 6rem;}
.mb-7 {margin-bottom: 7rem;}
.mb-8 {margin-bottom: 8rem;}
.pb-1 {padding-bottom: 1rem;}
.pb-2 {padding-bottom: 2rem;}
.pb-3 {padding-bottom: 3rem;}
.pb-4 {padding-bottom: 4rem;}
.pb-5 {padding-bottom: 5rem;}
.pb-6 {padding-bottom: 6rem;}
.pb-7 {padding-bottom: 7rem;}
.pb-8 {padding-bottom: 8rem;}

.ml-1 {margin-left: 1rem;}
.ml-2 {margin-left: 2rem;}
.ml-3 {margin-left: 3rem;}
.ml-4 {margin-left: 4rem;}
.ml-5 {margin-left: 5rem;}
.ml-6 {margin-left: 6rem;}
.ml-7 {margin-left: 7rem;}
.ml-8 {margin-left: 8rem;}
.pl-1 {padding-left: 1rem;}
.pl-2 {padding-left: 2rem;}
.pl-3 {padding-left: 3rem;}
.pl-4 {padding-left: 4rem;}
.pl-5 {padding-left: 5rem;}
.pl-6 {padding-left: 6rem;}
.pl-7 {padding-left: 7rem;}
.pl-8 {padding-left: 8rem;}

.mr-1 {margin-right: 1rem;}
.mr-2 {margin-right: 2rem;}
.mr-3 {margin-right: 3rem;}
.mr-4 {margin-right: 4rem;}
.mr-5 {margin-right: 5rem;}
.mr-6 {margin-right: 6rem;}
.mr-7 {margin-right: 7rem;}
.mr-8 {margin-right: 8rem;}
.pr-1 {padding-right: 1rem;}
.pr-2 {padding-right: 2rem;}
.pr-3 {padding-right: 3rem;}
.pr-4 {padding-right: 4rem;}
.pr-5 {padding-right: 5rem;}
.pr-6 {padding-right: 6rem;}
.pr-7 {padding-right: 7rem;}
.pr-8 {padding-right: 8rem;}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--dark-color);
  font-size: var(--font-size);
  background-image: linear-gradient(90deg, var(--home-bg1) 0%,var(--home-bg2) 65%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;
}

a:focus {outline: none;}
a:hover {opacity: 0.8;}

ul {
  list-style: none;
}

img {
  width: 100%;
}

label {
  margin-left: 1.5rem;
}

input[type=date],
input[type=email],
input[type=file],
/* input[type=image], */
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]{
  display: block;
  width: 100%;
  margin: 0.2rem 0 1rem ;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

input[type=checkbox] {
  width: 1.6rem;
  height: 1.6rem;
  border: none;
}

input:focus {
  outline: none;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

table a {
  text-decoration: underline;
}

thead tr {
  background-color: var(--thead-color);
}

tr {
  background-color: var(--table-color1);
}

tr:nth-of-type(2n) {
  background-color: var(--table-color2);
}

th,
td {
  padding: 0.4rem 0.5rem;
}

th {
  text-align: start;
}


/** Utilityies*/
.checkbox label {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.checkbox label input {
  margin-right: 0.5rem;
}

.container {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  height: 100%;
}
.container-sm {max-width: 800px;}
.container-md {max-width: 1000px;}

.flex-container {display: flex;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}

.btn {
  font-weight: bold;
  display: inline-block;
  background-color: transparent;
  padding: 0.8rem 1.4rem;
  border: 3px solid transparent;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(0.99);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #f1f1f1;
}
.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #f1f1f1;
}
.btn-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: #f1f1f1;
}
.btn-danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: #f1f1f1;
}
.btn-warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  color: #f1f1f1;
}
.btn-info {
  background-color: var(--info-color);
  border-color: var(--info-color);
  color: #f1f1f1;
}
.btn-light {
  background-color: var(--light-color);
  border-color: var(--light-color);
  color: var(--dark-color);
}
.btn-dark {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: var(--light-color);
}

.btn-outline-primary {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-outline-secondary {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn-outline-success {
  border: 3px solid var(--success-color);
  color: var(--success-color);
}
.btn-outline-danger {
  border: 3px solid var(--danger-color);
  color: var(--danger-color);
}
.btn-outline-warning {
  border: 3px solid var(--warning-color);
  color: var(--warning-color);
}
.btn-outline-info {
  border: 3px solid var(--info-color);
  color: var(--info-color);
}
.btn-outline-light {
  border: 3px solid var(--light-color);
  color: var(--light-color);
}
.btn-outline-dark {
  border: 3px solid var(--dark-color);
  color: var(--dark-color);
}

.btn-sm {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  border-width: 2px;
}

.btn-xs {
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem;
  border-width: 1px;
}

.btn-round {
  font-weight: 400;
  font-size: 0.8rem;
  width: 32px;
  height: 32px;
  padding: 0.4rem 0.4rem;
  margin: auto;
  border-radius: 50%;
}

.alert {
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--font-family);
  padding: 0.6rem 0;
}

.alert-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.alert-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}
.alert-success {
  background-color: var(--success-color);
  color: #fff;
}
.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}
.alert-warning {
  background-color: var(--warning-color);
  color: #fff;
}
.alert-info {
  background-color: var(--info-color);
  color: #fff;
}
.alert-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.alert-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}


.display-container {
  height: calc(100vh - 3.5rem);
  width: 100vw;
}

.text-center {text-align: center;}
.align-center {align-items: center;}
.float-right{float: right;}
.pointer {cursor: pointer;}
.m-auto {margin: auto !important;}
.mx-auto {margin: 0 auto !important;}
.my-auto {margin: auto 0 !important;}

/** Navbar */
.navbar {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  height: 3.5rem;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 2rem;
  color: var(--dark-color);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar ul li {
  margin: 0 0.5rem;
}

/** Home */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.5rem);
}

.home-container .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center; 
}

.home-container h1 {
  font-size: 2rem;
  color: var(--primary-coler);
}

.home-container p {
  margin: 2rem 0;
}

.home-container .link-container > a:first-child {
  margin-right: 2rem;
}