<form 
  method="post" 
  action="{{ path('search') }}" 
>
    <div class="flex-container space-between mb-2 align-center">

        <input 
        class="my-auto"
        type="text" 
        name="search" 
        id="search" 
        value="{{ search }}" 
        placeholder="Suchen"
        >
        
        <button class='btn btn-primary ml-1'>
            Suchen
        </button>
    </div>
</form>

