<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adressbuch</title>
        <link href="{{asset('assets/img/favicon.ico')}}" rel="shortcut icon"/>
  
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> 
        <link rel="stylesheet" href="{{asset('css/style.css')}}"/>

    </head>
    <body>
        <nav class="navbar">
            <div class="container">  
                <a href="{{ path('address_index') }}">
                    <h1 class="logo">Adressbuch</h1>
                </a>
                <ul>
                    <li>
                        <button id="toggle" class="btn btn-dark btn-round"><i class="fas fa-moon"></i></button>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a class="btn btn-outline-dark btn-sm" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="btn btn-danger btn-sm" href="{{ path('register') }}">Registrieren</a>
                        </li>
                        <li>
                            <a class="btn btn-outline-dark btn-sm" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        
        <div class="mb-2"></div>
  
        <script src="{{asset('js/script.js')}}"></script>
    </body>
</html>
