<form 
  method="post" 
  action="{{ path('address_delete', {'id': address.id}) }}" 
  onsubmit="return confirm('Sind Sie sicher?');"
>
    <input 
      type="hidden" 
      name="_token" 
      value="{{ csrf_token('delete' ~ address.id) }}"
      >
    <button class='btn btn-danger'>
       {{ button_label|default('Löschen') }}
    </button>
</form>
