{% extends 'base.html' %}

{% block body %}
    <div class='container'>
        <h1 class="my-2 text-center">Adressliste</h1>

        {{ include('search/index.html') }}

        <table id="address-table" class="table table-striped">
            <thead class='thead-dark'>
                <tr>
                    <th class="pointer" onclick="sortTable(0)">Vorname</th>
                    <th class="pointer" onclick="sortTable(1)">Nachname</th>
                    <th class="pointer" onclick="sortTable(2)">Strasse</th>
                    <th class="pointer" onclick="sortTable(3)">PLZ</th>
                    <th class="pointer" onclick="sortTable(4)">Stadt</th>
                    <th class="pointer" onclick="sortTable(5)">E-Mail</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.firstname }}</td>
                    <td>{{ address.lastname }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.zip }}</td>
                    <td>{{ address.city }}</td>
                    <td><a href="mailto:{{ address.email }}">{{ address.email }}</a></td>
                    <td>
                        {{ include('address/_showBtn.html') }}
                        {{ include('address/_editBtn.html', {'button_class': 'btn-xs'}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7"><h4 class="text-center">Keine Kontakte gefunden</h4></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ include('address/_addBtn.html') }}
    </div>
{% endblock %}
