{% extends 'base.html' %}

{% block body %}
    <div class="container container-md">
        <h1 class="my-2 text-center">Neue Adresse Hinzufügen</h1>

        {{ include('address/_form.html') }}

    </div>
{% endblock %}
