{% extends 'base.html' %}

{% block body %}
    <div class='container container-md'>
        <h1 class="my-2 text-center">Detail der Adresse</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Vorname:</th>
                    <td>{{ address.firstname }}</td>
                </tr>
                <tr>
                    <th>Nachname:</th>
                    <td>{{ address.lastname }}</td>
                </tr>
                <tr>
                    <th>Strasse:</th>
                    <td>{{ address.street }}</td>
                </tr>
                <tr>
                    <th>PLZ:</th>
                    <td>{{ address.zip }}</td>
                </tr>
                <tr>
                    <th>Stadt:</th>
                    <td>{{ address.city }}</td>
                </tr>
                <tr>
                    <th>Kanton:</th>
                    <td>{{ address.state }}</td>
                </tr>
                <tr>
                    <th>Land:</th>
                    <td>{{ address.country }}</td>
                </tr>
                <tr>
                    <th>Telefon:</th>
                    <td><a href="tel:{{ address.phone }}">{{ address.phone }}</a></td>
                </tr>
                <tr>
                    <th>Mobil:</th>
                    <td><a href="tel:{{ address.mobile }}">{{ address.mobile }}</a></td>
                </tr>
                <tr>
                    <th>E-Mail:</th>
                    <td><a href="mailto:{{ address.email }}">{{ address.email }}</a></td>
                </tr>
            </tbody>
        </table>

        <div class="flex-container space-between mt-1">
            {{ include('address/_backBtn.html') }}

            {{ include('address/_editBtn.html') }}

            {{ include('address/_delete_form.html') }}
        </div>
    </div>
{% endblock %}
